[flake8]
max-line-length=160
exclude = .git,__pycache__,dist,.venv/*,node_modules/*,utils/*,tests/.venv/*,proxies/live/apiproxy/resources/py/DecodeBase64String.py,proxies/live/apiproxy/resources/py/example_loader.py