repos:
- repo: local
  hooks:
  - id: git-secrets
    name: Git Secrets
    description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
    entry: 'nhsd-git-secrets/pre-commit-mac.sh'
    language: script

   - id: lint
     name: Lint
     description: Run lint via npm and flake8.
     entry: make lint
     language: system
