openapi: 3.0.0
info:
  description: |
    ## Overview
    Use this API to redirect requests to the appropriate backend based on an identifier header.


    The following describes the end-to-end process:
    1. The sending system sends a request to the Booking and Referrals API, along with an identifier header.
    2. The Booking and Referrals API redirects the request to the target backend associated with the identifier header.
    3. The target backend handles the request and sends a response back to the API.
    4. The API returns the response to the sending system.

    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You must do this before you can go live.

    ## API status and roadmap
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
      * it is available for testing in integration environment
      * we expect to make breaking changes based on developer feedback

    ### Roadmap
    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=allexceptdone&tag=booking-and-referral&deleted=0#controls).
    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology
    The API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    This API uses HTTP POST to submit data.

    The data payload conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4, or [FHIR GP Connect](https://digital.nhs.uk/services/gp-connect), which is built on FHIR STU3.

    ## Network access
    This API is available on the internet.

    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning we authenticate the calling application but not the end user.

    You can use this access mode as follows:
    * unattended (end user not present)

    To use this access mode, use the following security pattern:
    * [application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication)

    ### Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/booking-and-referral/FHIR/R4`        | 
    | Integration test  | `https://int.api.service.nhs.uk/booking-and-referral/FHIR/R4`          |
    | Production        | Not yet available                                                      |

    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    - is for formal integration testing

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).
  version: 1.0.8
  title: Booking and Referral API
  termsOfService: 'https://developer.nhs.uk/apis/uec-appointments'
  contact:
    email: uec.appointmentbooking@nhs.net
    url: 'https://developer.nhs.uk/apis/uec-appointments'
    name: NHS Digital
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://sandbox.api.service.nhs.uk/booking-and-referral/FHIR/R4'
    description: Sandbox Server
  - url: 'https://int.api.service.nhs.uk/booking-and-referral/FHIR/R4'
    description: Integration Server
tags:
  - name: Booking
  - name: Message
  - name: Metadata
  - name: Referral
  - name: Slots
security:
  - OAuth_Token: []
paths:
  /metadata:
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Metadata
      summary: Get a capability statement
      description: Get a capability statement
      operationId: getMeta
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Capability'
              example:
                $ref: examples/metadata/GET-success.json
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/Capability'
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  /MessageDefinition:
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Metadata
      summary: Get a Message Definition
      description: Get a Message Definition
      operationId: getMessageDefinition
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/MessageDefinition'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/MessageDefinition'
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  /$process-message:
    parameters:
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    post:
      tags:
        - Message
      summary: Process a message
      description: Process a message
      operationId: processMessage
      requestBody:
        description: Message Details
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/MessageBundle'
            example:
              $ref: examples/process_message/POST-body.json
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/MessageBundle'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/MessageBundle'
              example:
                $ref: examples/process_message/POST-success.json
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/MessageBundle'
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  /Slot:
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Slots
      summary: Get slots
      description: Get slots
      operationId: getSlots
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - free
                - busy
              default: free
        - name: start
          in: query
          required: true
          description: |
            Slot end date/time (yyyy-mm-ddThh:mm:ss+hh:mm)

            __Start and end represent the definition of the time window within which Slots must start__
          schema:
            format: datetime
            type: string
            example: '2020-03-31T14:00:00'
        - name: end
          in: query
          required: true
          description: |
            Slot end date/time (yyyy-mm-ddThh:mm:ss+hh:mm)

            __Start and end represent the definition of the time window within which Slots must start__
          schema:
            format: datetime
            type: string
            example: '2020-03-31T16:00:00'
        - name: _include
          in: query
          description: |
            Inclusions that drive the rescusive depth of the search

            |Inclusion           |Description|
            |-------             | --------|
            | Schedule           | Include Schedule Resources referenced within the  Slot Resources|
            | Practitioner       | Include Practitioner Resources referenced within the  Schedule Resources|
            | PractitionerRole   | Include Practitioner Role Resources referenced within the  Schedule Resources |
            | HealthcareService  | Include HealthcareService Resources referenced within the  Schedule Resources|
            | ProvidedBy         | Include Organization Resources referenced within the  HealthcareService Resources|
            | Location           | Include Location Resources referenced within the  HealthcareService Resources|
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Schedule
                - 'Schedule:actor:Practitioner'
                - 'Schedule:actor:PractitionerRole'
                - 'Schedule:actor:HealthcareService'
                - 'HealthcareService:providedBy'
                - 'HealthcareService:location'
                - 'Slot:*'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                $ref: examples/slots/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  /Appointment:
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Booking
      summary: Get bookings for a patient
      description: Get Bookings for a patient
      operationId: getBookingByPatient
      parameters:
        - $ref: '#/components/parameters/PatientId_QParam'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                $ref: examples/appointment/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  '/Appointment/{id}':
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/TargetIdentifier_HParam'
      - $ref: '#/components/parameters/RegistryId_Param'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Booking
      summary: Get a specific booking
      description: Get a specific booking
      operationId: getBooking
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/Appointment.yaml
              example:
                $ref: examples/appointment/id/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/Appointment.yaml
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  /ServiceRequest:
    parameters:
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Referral
      summary: Get referrals for a patient
      description: Get referrals for a patient
      operationId: getReferralByPatient
      parameters:
        - $ref: '#/components/parameters/PatientId_QParam'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                $ref: examples/service_request/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
  '/ServiceRequest/{id}':
    parameters:
      - $ref: '#/components/parameters/RegistryId_Param'
      - $ref: '#/components/parameters/RequestId_HParam'
      - $ref: '#/components/parameters/CorrelationId_HParam'
      - $ref: '#/components/parameters/RequestingOrganisation_HParam'
      - $ref: '#/components/parameters/RequestingPractitioner_HParam'
      - $ref: '#/components/parameters/RequestingPerson_HParam'
      - $ref: '#/components/parameters/RequestingDevice_HParam'
    get:
      tags:
        - Referral
      summary: Get a specific referral
      description: Get a specific referral
      operationId: getReferral
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/ServiceRequest.yaml
              example:
                $ref: examples/service_request/id/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/ServiceRequest.yaml
          headers:
            X-Correlation-Id:
              description: The X-Correlation-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
            X-Request-Id:
              description: The X-Request-ID from the request header, if supplied, mirrored back.
              schema:
                type: string
                format: uuid
                example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
        4XX:
          $ref: '#/components/responses/4XX-BARS'
        5XX:
          $ref: '#/components/responses/5XX-BARS'
components:
  parameters:
    RegistryId_Param:
      name: id
      description: The identifier of the registry object.
      in: path
      schema:
        type: string
        format: uuid
        example: c3f6145e-1a26-4345-b3f2-dccbcba62049
      required: true
      allowEmptyValue: false
    PatientId_QParam:
      name: patientIdentifier
      description: The identifier of a patient.
      required: true
      in: query
      schema:
        type: string
        example: 485 777 3456
    TargetIdentifier_HParam:
      name: NHSD-Target-Identifier
      description: The identifier of the Target system
      required: true
      in: header
      schema:
        $ref: '#/components/schemas/TargetIdentifier'
    RequestingDevice_HParam:
      name: NHSD-Requesting-Software
      description: The identifer of the Sending System (to be Base64 encoded).
      required: false
      in: header
      schema:
        $ref: '#/components/schemas/RequestingSoftwareToken'
    RequestingPerson_HParam:
      name: NHSD-Requesting-Person
      description: The identifer of the Sending Person (to be Base64 encoded).
      required: false
      in: header
      schema:
        $ref: '#/components/schemas/RequestingPersonToken'
    RequestingOrganisation_HParam:
      name: NHSD-End-User-Organisation
      description: The identifer of the Sending Organisation (to be Base64 encoded).
      required: true
      in: header
      schema:
        $ref: '#/components/schemas/RequestingOrganisationToken'
    RequestingPractitioner_HParam:
      name: NHSD-Requesting-Practitioner
      description: The identifer of the Sending System User (to be Base64 encoded).
      required: false
      in: header
      schema:
        $ref: '#/components/schemas/RequestingPractitionerToken'
    RequestId_HParam:
      name: X-Request-ID
      description: The X-Request-ID from the request header, if supplied, mirrored back.
      required: true
      in: header
      schema:
        type: string
        format: uuid
        example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
    CorrelationId_HParam:
      name: X-Correlation-ID
      description: The X-Correlation-ID from the request header, if supplied, mirrored back.
      required: true
      in: header
      schema:
        type: string
        format: uuid
        example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
  responses:
    4XX-BARS:
      description: |
        An error occurred as follows:
        | HTTP status | Error code                 | Description |
        | ----------- | -------------------------- | --------------------------------------------- |
        | 400         | SEND_BAD_REQUEST           | The API was unable to process the request. |
        | 400         | REC_BAD_REQUEST            | The Receiver has responded stating the message was malformed. |
        | 401         | SEND_UNAUTHORIZED          | The API deemed you unauthorized to make this request. |
        | 401         | REC_UNAUTHORIZED           | The receiver deemed you unauthorized to make request. |
        | 403         | SEND_FORBIDDEN             | Missing or Expired Token. |
        | 404         | PROXY_NOT_FOUND            | No related people exist for given NHS number. |
        | 404         | REC_NOT_FOUND              | Patient record for given NHS number has been invalidated and not superseded by another NHS number. |
        | 405         | SEND_METHOD_NOT_ALLOWED    | HTTP Verb is not correct for this scenario.|
        | 405         | REC_METHOD_NOT_ALLOWED     | Receiver does not allow this.|
        | 405         | PROXY_METHOD_NOT_ALLOWED   | Proxy does not allow this.|
        | 406         | SEND_NOT_ACCEPTABLE        | Senders message had an incorrect content type defined for a response.|
        | 408         | REC_TIMEOUT                | The downstream domain processing has not completed within the configured timeout period. |
        | 409         | SEND_CONFLICT              |  |
        | 409         | REC_CONFLICT               |  |
        | 409         | PROXY_CONFLICT             |  |
        | 422         | SEND_UNPROCESSABLE_ENTITY  | Message was not malformed but deemed unprocessable. |
        | 422         | REC_UNPROCESSABLE_ENTITY   | Message was not malformed but deemed unprocessable. |         
        | 422         | PROXY_UNPROCESSABLE_ENTITY | Message was not malformed but deemed unprocessable. |         
        | 429         | SEND_TOO_MANY_REQUESTS     | The user has sent too many requests in a given amount of time|
        | 429         | REC_TOO_MANY_REQUESTS      | The user has sent too many requests in a given amount of time|
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationalOutcome'
          example:
            $ref: examples/400-SEND.json
      headers:
        X-Correlation-Id:
          description: The X-Correlation-ID from the request header, if supplied, mirrored back.
          schema:
            type: string
            format: uuid
            example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
        X-Request-Id:
          description: The X-Request-ID from the request header, if supplied, mirrored back.
          schema:
            type: string
            format: uuid
            example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
    5XX-BARS:
      description: |
        An error occurred as follows:
        | HTTP status | Error code                 | Description |
        | ----------- | -------------------------- | --------------------------------------------- |
        | 500         | REC_SERVER_ERROR           | The receiver server has encountered an Error processing the request. |
        | 500         | PROXY_SERVER_ERROR         | Proxy Error. |
        | 501         | SEND_NOT_IMPLEMENTED       | The Request was not recognized. |
        | 501         | REC_NOT_IMPLEMENTED        | The Receiver did not recognize the request. |
        | 501         | PROXY_NOT_IMPLEMENTED      | The Proxy did not recognize the request. |
        | 503         | REC_UNAVAILABLE            | The Receiver was unavailable to service the request.|
        | 503         | PROXY_UNAVAILABLE          | The Proxy was unavailable to service the request. |
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationalOutcome'
          example:
            $ref: examples/500-REC.json
      headers:
        X-Correlation-Id:
          description: The X-Correlation-ID from the request header, if supplied, mirrored back.
          schema:
            type: string
            format: uuid
            example: 9562466f-c982-4bd5-bb0e-255e9f5e6689
        X-Request-Id:
          description: The X-Request-ID from the request header, if supplied, mirrored back.
          schema:
            type: string
            format: uuid
            example: c1ab3fba-6bae-4ba4-b257-5a87c44d4a91
  schemas:
    Capability:
      $ref: schemas/Capability.yaml
    TargetIdentifier:
      $ref: schemas/TargetIdentifier.yaml
    MessageBundle:
      $ref: schemas/MessageBundle.yaml
    MessageDefinition:
      $ref: schemas/MessageDefinition.yaml
    OperationalOutcome:
      $ref: schemas/OperationalOutcome.yaml
    RequestingOrganisationToken:
      $ref: schemas/RequestingOrganisation.yaml
    RequestingPractitionerToken:
      $ref: schemas/RequestingPractitioner.yaml
    RequestingPersonToken:
      $ref: schemas/RequestingPerson.yaml
    RequestingSoftwareToken:
      $ref: schemas/RequestingSoftware.yaml
  securitySchemes:
    OAuth_Token:
      type: http
      scheme: bearer
