openapi: 3.0.0
info:
  description: |
    ## Overview
    Use this API to redirect requests to the appropriate backend based on an identifier header.
    
    
    The following describes the end-to-end process:
    1. The sending system sends a request to the Booking and Referrals API, along with an identifier header.
    2. The Booking and Referrals API redirects the request to the target backend associated with the identifier header.
    3. The target backend handles the request and sends a response back to the API.
    4. The API returns the response to the sending system.
    
    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You must do this before you can go live.
    
    ## API status and roadmap
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
      * it is available for testing in integration environment
      * we expect to make breaking changes based on developer feedback
    
    ### Roadmap
    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=allexceptdone&tag=fhir-converter&deleted=0#controls).
    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    ## Technology
    The API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    This API uses HTTP POST to submit data.
    
    The data payload conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4, or [FHIR GP Connect](https://digital.nhs.uk/services/gp-connect), which is built on FHIR STU3.
    
    ## Network access
    This API is available on the internet.
    
    For more details, see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    
    ## Security and authorisation
    
    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning we authenticate the calling application but not the end user.
    
    You can use this access mode as follows:
    * unattended (end user not present)
    
    To use this access mode, use the following security pattern:
    * [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication)
    
    ### Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Integration test  | `https://int.api.service.nhs.uk/fhir-converter`                        |
    | Production        | Not yet available                                                      |
    
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    - is for formal integration testing
    
    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

  version: 1.0.6
  title: Booking and Referral API
  termsOfService: https://developer.nhs.uk/apis/uec-appointments
  contact:
    email: uec.appointmentbooking@nhs.net
    url: https://developer.nhs.uk/apis/uec-appointments
    name: NHS Digital
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://sandbox.api.service.nhs.uk/booking-and-referral
    description: Sandbox Server
tags:
  - name: Booking
  - name: Events
  - name: Message
  - name: Metadata
  - name: Referral
  - name: Registry
  - name: Slots
security:
  - BasicAuth: []
  - BearerAuth: []
paths:
  /metadata:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
    get:
      tags:
        - Metadata
      summary: Get capability statement
      description: Get capability statement
      operationId: getMeta
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/Capability.yaml
              example:
                    $ref: examples/metadata/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/Capability.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /MessageDefinition:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
    get:
      tags:
        - Metadata
      summary: Get TBC
      description: Get TBC
      operationId: getMessageDefinition
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/MessageDefinition.yaml
            application/fhir+xml:
              schema:
                $ref: schemas/MessageDefinition.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /$process-message:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    post:
      tags:
        - Message
      summary: Process a message
      description: Process a message
      operationId: processMessage
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/MessageBundle.yaml
              example:
                    $ref: examples/process_message/POST-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/MessageBundle.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /Slot:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    get:
      tags:
        - Slots
      summary: Get slots
      description: Get slots
      operationId: getSlots
      parameters:
        - name: healthcareService
          description: The  service id of the service for which Slots are being requested
          in: query
          schema:
            type: string
            example: 09a01679-2564-0fb4-5129-aecc81ea2706
          required: true
          allowEmptyValue: false
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - free
                - busy
              default: free
        - name: start
          in: query
          required: true
          description: |
            Slot end date/time (yyyy-mm-ddThh:mm:ss+hh:mm)

            __Start and end represent the definition of the time window within which Slots must start__
          schema:
            format: datetime
            type: string
            example: '2020-03-31T14:00:00'
        - name: end
          in: query
          required: true
          description: |
            Slot end date/time (yyyy-mm-ddThh:mm:ss+hh:mm)

            __Start and end represent the definition of the time window within which Slots must start__
          schema:
            format: datetime
            type: string
            example: '2020-03-31T16:00:00'
        - name: _include
          in: query
          description: |
            Inclusions that drive the rescusive depth of the search

            |Inclusion           |Description|
            |-------             | --------|
            | Schedule           | Include Schedule Resources referenced within the  Slot Resources|
            | Practitioner       | Include Practitioner Resources referenced within the  Schedule Resources|
            | PractitionerRole   | Include Practitioner Role Resources referenced within the  Schedule Resources |
            | HealthcareService  | Include HealthcareService Resources referenced within the  Schedule Resources|
            | ProvidedBy         | Include Organization Resources referenced within the  HealthcareService Resources|
            | Location           | Include Location Resources referenced within the  HealthcareService Resources|
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Schedule
                - Schedule:actor:Practitioner
                - Schedule:actor:PractitionerRole
                - Schedule:actor:HealthcareService
                - HealthcareService.providedBy
                - HealthcareService.location
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                    $ref: examples/slots/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/slots/GET-BadRequest.json
  /Appointment:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    post:
      tags:
        - Booking
      summary: Create a booking
      description: Create a booking
      operationId: createBooking
      requestBody:
        description: Booking Details
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: schemas/Appointment.yaml
            example:
                  $ref: examples/appointment/POST-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/Appointment.yaml
      responses:
        '201':
          description: Success
          content:
            application/fhir+json:
              example:
                    $ref: examples/appointment/POST-success.txt
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    get:
      tags:
        - Booking
      summary: Get bookings for a patient
      description: Get Bookings for a patient
      operationId: getBookingByPatient
      parameters:
        - $ref: '#/components/parameters/PatientId_QParam'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                    $ref: examples/appointment/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /Appointment/{id}:
    parameters:
      - $ref: '#/components/parameters/Id_Param'
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    get:
      tags:
        - Booking
      summary: Get a specific booking
      description: Get a specific booking
      operationId: getBooking
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/Appointment.yaml
              example:
                    $ref: examples/appointment/id/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/Appointment.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    patch:
      tags:
        - Booking
      summary: Update a specific booking
      description: Update a specific booking
      operationId: patchBooking
      requestBody:
        description: Booking Details
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: schemas/Appointment.yaml
            example:
                  $ref: examples/appointment/id/PATCH-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/Appointment.yaml
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    put:
      tags:
        - Booking
      summary: Update a specific booking
      description: Update a specific booking
      operationId: putBooking
      requestBody:
        description: Booking Details
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: schemas/Appointment.yaml
            example:
                  $ref: examples/appointment/id/PUT-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/Appointment.yaml
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    delete:
      tags:
        - Booking
      summary: Delete a specific booking
      description: Delete a specific booking
      operationId: deleteBooking
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /ServiceRequest:
    parameters:
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    post:
      tags:
        - Referral
      summary: Create a referral
      description: Create a referral
      operationId: createReferral
      requestBody:
        description: Referral Details
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: schemas/ServiceRequest.yaml
            example:
                  $ref: examples/service_request/POST-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/ServiceRequest.yaml
      responses:
        '201':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    get:
      tags:
        - Referral
      summary: Get referral/s for a patient
      description: Get referral/s for a patient
      operationId: getReferralByPatient
      parameters:
        - $ref: '#/components/parameters/PatientId_QParam'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                    $ref: examples/service_request/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /ServiceRequest/{id}:
    parameters:
      - $ref: '#/components/parameters/Id_Param'
      - $ref: '#/components/parameters/ServiceId_HParam'
      - $ref: '#/components/parameters/Token_HParam'
    get:
      tags:
        - Referral
      summary: Get a specific referral
      description: Get a specific referral
      operationId: getReferral
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/ServiceRequest.yaml
              example:
                    $ref: examples/service_request/id/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/ServiceRequest.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    patch:
      tags:
        - Referral
      summary: Update a specific referral
      description: Update a specific referral
      operationId: patchReferral
      responses:
        '200':
          description: Success
          content:
            application/json-patch+json:
              schema:
                $ref: schemas/ServiceRequest.yaml
              example:
                    $ref: examples/service_request/id/PATCH-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/ServiceRequest.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    put:
      tags:
        - Referral
      summary: Update a specific referral
      description: Update a specific referral
      operationId: putReferral
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/ServiceRequest.yaml
              example:
                    $ref: examples/service_request/id/PUT-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/ServiceRequest.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    delete:
      tags:
        - Referral
      summary: Delete a specific referral
      description: Delete a specific referral
      operationId: deleteReferral
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /DocumentReference:
    post:
      tags:
        - Registry
      summary: Create a registry entry
      description: Create a registry entry
      operationId: createRegistryEntry
      requestBody:
        description: Regisrty entry details
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: schemas/DocumentReference.yaml
            example:
                  $ref: examples/document_reference/POST-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/DocumentReference.yaml
      responses:
        '201':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    get:
      tags:
        - Registry
      summary: Get entries for a patient
      description: Get entries for a patient
      operationId: getRegistryByPatient
      parameters:
        - $ref: '#/components/parameters/PatientId_QParam'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/SearchBundle.yaml
              example:
                    $ref: examples/document_reference/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/SearchBundle.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
  /DocumentReference/{id}:
    parameters:
      - $ref: '#/components/parameters/Id_Param'
    get:
      tags:
        - Registry
      summary: Get a specific registry entry
      description: Get a specific registry entry
      operationId: getRegistry
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: schemas/DocumentReference.yaml
              example:
                    $ref: examples/document_reference/id/GET-success.json
            application/fhir+xml:
              schema:
                $ref: schemas/DocumentReference.yaml
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    put:
      tags:
        - Registry
      summary: Update a specific registry entry
      description: Update a specific regisrty entry
      operationId: putRegistry
      requestBody:
        description: Registry Entry
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: schemas/DocumentReference.yaml
            example:
                  $ref: examples/document_reference/id/PUT-body.json
          application/fhir+xml:
            schema:
              $ref: schemas/DocumentReference.yaml
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
    delete:
      tags:
        - Registry
      summary: Delete a specific registry entry
      description: Delete a specific registry entry
      operationId: deleteRegistry
      responses:
        '200':
          description: Success
        '400':
          description: Illegal input for operation
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '401':
          description: Unauthorized access
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '403':
          description: Forbidden
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '404':
          description: Entity Not Found
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '405':
          description: Method Not Allowed
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
        '500':
          description: Server Error
          content:
            application/fhir+json:
              example:
                    $ref: examples/bad-request.json
components:
  parameters:
    Id_Param:
      name: id
      description: The identifier of the registry object.
      in: path
      schema:
        type: string
        format: uuid
        example: c3f6145e-1a26-4345-b3f2-dccbcba62049
      required: true
      allowEmptyValue: false
    PatientId_QParam:
      name: patientIdentifier
      description: The identifier of a patient.
      required: true
      in: query
      schema:
        type: string
        example: 485 777 3456
    ServiceId_QParam:
      name: serviceIdentifier
      description: The identifier of a healthcare service
      required: true
      in: query
      schema:
        type: string
        example: 123344556677
    ServiceId_HParam2:
      name: NHSD-ServiceIdentifier
      description: The identifier of a healthcare service
      required: true
      in: header
      schema:
        type: string
        example: 123344556677
    ServiceId_HParam:
      name: NHSD-Service
      description: Service attributes
      required: true
      in: header
      schema:
        $ref: schemas/Service.yaml
    Token_HParam:
      name: NHSD-Token
      description: Authorisation token
      required: true
      in: header
      schema:
        $ref: '#/components/schemas/Token'
  schemas:
    Token:
      type: object
      description: Authorisation token
      required:
        - subject
        - organisation
      properties:
        subject:
          type: string
          example: 91122
        organisation:
          $ref: schemas/Organisation.yaml
    

          
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer